<li id="p_evaluation-<%= p_evaluation.id %>">
  <span class="content">
  球速 <%= p_evaluation.speed %>P
  コントロール<%= p_evaluation.control %>P
  変化球 <%= p_evaluation.breaking %>P
  守備 <%= p_evaluation.defense %>P
  <div class="button2"><%= link_to "評価編集する" ,edit_p_evaluation_path(p_evaluation.id) %></div>
  <br>
  <%= p_evaluation.text %>
  </span>
  <span class="timestamp">
  <%= p_evaluation.created_at.strftime("%Y年%m月%d日 %H時%M分") %>に投稿されました。
      <%#= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>  </span>
</li>