<% provide(:title, '投手評価編集') %>
<h1>投手評価編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@p_evaluation) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :"選手名" %>
      <%= f.collection_select :p_player_id,PPlayer.all, :id, :name, class: 'form-control' %>
      <br>
      <%= f.label :"球速" %>
      <%= f.select :speed, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"コントロール" %>
      <%= f.select :control, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"変化球" %>
      <%= f.select :breaking, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"守備" %>
      <%= f.select :defense, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"何かあればコメントどうぞ" %>
      <%= f.text_area :text %>
      <br>
      <%= f.submit "編集完了する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>