<% provide(:title, @team.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h2>
        <%= @team.name %>
      </h2>
        <%= @team.location %>
        <br>
        <br>
<div class="URL">
        <%= link_to "→URLはこちら←", @team.homepage %>
        </div>
    </section>
  </aside>
    <div class="col-md-8">
      <h2>投手</h2>
      <%= render partial: 'p_player',locals:{contents: @p_player} %>
      <h2>野手</h2>
      <%= render partial: 'b_player',locals:{contents: @b_player} %>
  </div>
</div>