<div class="center jumbotron">
<h1>プロ野球選手の評価</h1>

<h2>
    このサイトは１人１人が思う選手を各自評価し
  贔屓、アンチ関係なく皆平等に評価していただくサイトです。
  </h2>

<%= link_to image_tag("npb.jpg", alt: "npb logo"),
            'http://npb.jp/' %>