<% provide(:title, @b_player.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @b_player.name %>
      </h1>
      <%= @b_player.position %>
      <%= @b_player.handedness %>
      <%= team_rename(@b_player.team_id) %>
      <%= @b_player.year %>年目
      <br>
      <%= @b_player.graduate %>出身
      <%= @b_player.career %>
      </br>
      <%= @b_player.birthday %>
      <%= @b_player.height %>cm
      <%= @b_player.weight %>kg
      <%= @b_player.blood_group %>
      <br>
      <br>
      <div class="button"><%= link_to "プロフィール編集する",edit_b_player_path(@b_player.id) %></div>
      <br>
<table align="" class="average" style="width:100%">
<colgroup>
<col style="width: 60%;" />
</colgroup>
  <thead>
    <tr>
<th scope="cols">評価項目</th>
<th scope="cols">平均点</th>
<tr>
<td>打撃</td>
<td>
  <% if @b_player.b_evaluations.any? %>
  <%= @batting.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</tr>
<tr>
<td>走力</td>
<td>
  <% if @b_player.b_evaluations.any? %>
  <%= @run.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</tr>
<tr>
<td>肩力</td>
<td>
  <% if @b_player.b_evaluations.any? %>
  <%= @shoulder.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</tr>
<td>守備</td>
<td>
  <% if @b_player.b_evaluations.any? %>
  <%= @defense.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</table>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @b_player.b_evaluations.any? %>
      <h4>評価数 (<%= @b_player.b_evaluations.count %>)</h4>
      <ol class="b_evaluations">
        <%= render @b_evaluations %>
      </ol>
      <%= will_paginate @b_evaluations %>
    <% end %>
  </div>
</div>