<li id="b_evaluation-<%= b_evaluation.id %>">
  <span class="content">
  打撃<%= b_evaluation.batting %>P
  走力<%= b_evaluation.run %>P
  肩力<%= b_evaluation.shoulder %>P
  守備<%= b_evaluation.defense %>P
  <div class="button2"><%= link_to "評価編集する" ,edit_b_evaluation_path(b_evaluation.id) %></div>
  <br>
  <%= b_evaluation.text %>
  </span>
  <span class="timestamp">
  <%= b_evaluation.created_at.strftime("%Y年%m月%d日 %H時%M分") %>に投稿されました。
    <%#= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>  </span>
</li>