<% provide(:title, '野手評価') %>
<h1>野手評価</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@b_evaluation) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :"選手名" %>
      <%= f.collection_select :b_player_id,BPlayer.all, :id, :name, class: 'form-control' %>
      <br>
      <%= f.label :"打撃" %>
      <%= f.select :batting, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"走力" %>
      <%= f.select :run, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"肩力" %>
      <%= f.select :shoulder, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"守備" %>
      <%= f.select :defense, options_for_select((1..100).to_a), class: 'form-control' %>P
      <br>
      <%= f.label :"何かあればコメントどうぞ" %>
      <%= f.text_area :text %>
      <br>
      <%= f.submit "評価する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>