<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <h3> <%= pluralize(object.errors.count, "件のエラーがあります。") %></h3>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>