@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: visible;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.0em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.b_evaluations {
  list-style: none;
  padding: 0;
  li {
    padding: 20px;
    background: #fff;
    border: 4px #66cdaa solid;
    position: relative;
    z-index: 10;
    background-image: linear-gradient(
    -45deg,
      #f0f8ff 25%,
      #add8e6 25%, #add8e6 50%,
      #f0f8ff 50%, #f0f8ff 75%,
      #add8e6 75%, #add8e6
    );
    /* 幅8px、高さ8pxで背景画像のサイズを指定 */
    background-size: 8px 8px;
    
  }
  li:before{
    content: "";
    position: absolute;
    background: #fff;
    margin: 3px;
    border: 2px #7accb0 solid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -10;
    background-image: linear-gradient(
    -45deg,
      #f0f8ff 25%,
      #ffffe0 25%, #ffffe0 50%,
      #f0f8ff 50%, #f0f8ff 75%,
      #ffffe0 75%, #ffffe0
    );
    /* 幅8px、高さ8pxで背景画像のサイズを指定 */
    background-size: 8px 8px;
    
  }

  .content {
    display: block;
    color: green;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: green;
    display: block;
    text-align: right;
  }

}

.p_evaluations {
  list-style: none;
  padding: 0;
  li {
    padding: 20px;
    background: #fff;
    border: 4px #66cdaa solid;
    position: relative;
    z-index: 10;
    background-image: linear-gradient(
    -45deg,
      #f0f8ff 25%,
      #add8e6 25%, #add8e6 50%,
      #f0f8ff 50%, #f0f8ff 75%,
      #add8e6 75%, #add8e6
    );
    /* 幅8px、高さ8pxで背景画像のサイズを指定 */
    background-size: 8px 8px;
    
  }
  li:before{
    content: "";
    position: absolute;
    background: #fff;
    margin: 3px;
    border: 2px #7accb0 solid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -10;
        background-image: linear-gradient(
      -45deg,
      #f0f8ff 25%,
      #ffffe0 25%, #ffffe0 50%,
      #f0f8ff 50%, #f0f8ff 75%,
      #ffffe0 75%, #ffffe0
    );
    /* 幅8px、高さ8pxで背景画像のサイズを指定 */
    background-size: 8px 8px;
    
  }

  .content {
    display: block;
    color: blue;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: blue;
    display: block;
    text-align: right;
  }

}

.button {
  position: relative;
	background-color: #00ff7f;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #008000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	width: 150px;
}
.button:hover {
  top: -4px;
	box-shadow: 0 7px 0 #008000;
}

.button:active {
	top: 3px;
	box-shadow: none;
}

.button2 {
  position: relative;
	background-color: #00ffff;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #191970;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	width: 100px;
	margin-left: auto;
}
.button2:hover {
  top: -4px;
	box-shadow: 0 7px 0 #191970;
}

.button2:active {
	top: 3px;
	box-shadow: none;
}
.average{

    .average{
        border-collapse: collapse;
        border:none;
    }
  th{
    border: none;
    padding: 5px 5px 7px;
    border: 8px #729CC6 solid;
    font-size: 1.5em;
    font-weight:normal;
    color: #FFF;
    list-style: none;
    border:1px solid #729CC6;
    background:linear-gradient(#3377BB,#255788);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    text-align:center;
    box-shadow:  3px 0 3px 3px #f0f8ff;
  }
  td{
    list-style: none;
    padding: 25px;
    border: 3px #00bfff solid;
    position: relative;
    z-index: 10;
    font-size: 1.6em;
    color: #ff0000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    text-align:center;
    box-shadow:  0 0 10px #f0f8ff;
    background-image: linear-gradient(
      -45deg,
      #228b22 25%,
      #ffd700 25%, #ffd700 50%,
      #228b22 50%, #228b22 75%,
      #ffd700 75%, #ffd700
          );
    /* 幅8px、高さ8pxで背景画像のサイズを指定 */
    background-size: 8px 8px;
  }
  td:before{
    content: "";
    position: absolute;
    background: #fff;
    margin: 3px;
    border: 4px #7accb0 solid;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -10;
    background-image: linear-gradient(
      -45deg,
      #f0f8ff 25%,
      #ffffe0 25%, #ffffe0 50%,
      #f0f8ff 50%, #f0f8ff 75%,
      #ffffe0 75%, #ffffe0
    );
    /* 幅8px、高さ8pxで背景画像のサイズを指定 */
    background-size: 8px 8px;
  }
}
.URL
{
  font-size: 1.5em;
  text-align: center;
}
  /* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}