<% provide(:title, '投手の編集') %>
<h1>投手の編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@p_player) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :"名前" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :"投打" %>
      <%= f.select :handedness, [["右投右打"],["右投左打"],["右投両打"],["左投右打"],["左投左打"],["左投両打"],["両投右打"],["両投左打"],["両投両打"]], :include_blank => true %>
      <%= f.label :"球団名" %>
      <%= f.collection_select :team_id,Team.all, :id, :name, class: 'form-control' %>
      <%= f.label :"プロ通算年数" %>
      <%= f.select :year, options_for_select((1..35).to_a), :include_blank => true %>年目
      <br>
      <%= f.label :"誕生日" %>
      <%= f.date_field :birthday, value: Time.now.strftime("%Y-%m-%d"), class: 'form-control' %>
      <%= f.label :"出身" %>
      <%= f.collection_select :graduate, JpPrefecture::Prefecture.all, :name, :name, :include_blank => true %>
      <br>
      <%= f.label :"経歴" %>
      <%= f.text_field :career, class: 'form-control' %>
      <%= f.label :"身長" %>
      <%= f.select :height, options_for_select((100..250).to_a), :include_blank => true %>cm
      <%= f.label :"体重" %>
      <%= f.select :weight, options_for_select((1..150).to_a), :include_blank => true %>kg
      <%= f.label :"血液型" %>
      <%= f.select :blood_group, [["A型"],["B型"],["O型"],["AB型"]], :include_blank => true %>
      <br>
      <%= f.submit "編集完了する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>