<% provide(:title, @p_player.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @p_player.name %>
      </h1>
      <%= @p_player.position %>
      <%= @p_player.handedness %>
      <%= team_rename(@p_player.team_id) %>
      <%= @p_player.year %>年目
      <br>
      <%= @p_player.graduate %>出身
      <%= @p_player.career %>
      </br>
      <%= @p_player.birthday %>
      <%= @p_player.height %>cm
      <%= @p_player.weight %>kg
      <%= @p_player.blood_group %>
      <br>
      <br>
      <div class="button"><%= link_to "プロフィール編集する",edit_p_player_path(@p_player.id) %></div>
      <br>
<table align="" class="average" style="width:100%">
<colgroup>
<col style="width: 60%;" />
</colgroup>
  <thead>
    <tr>
<th scope="cols">評価項目</th>
<th scope="cols">平均点</th>
<tr>
<td>球速</td>
<td>
  <% if @p_player.p_evaluations.any? %>
  <%= @speed.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</tr>
<tr>
<td>コントロール</td>
<td>
  <% if @p_player.p_evaluations.any? %>
  <%= @control.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</tr>
<tr>
<td>変化球</td>
<td>
  <% if @p_player.p_evaluations.any? %>
  <%= @breaking.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</tr>
<td>守備</td>
<td>
  <% if @p_player.p_evaluations.any? %>
  <%= @defense.round(2) %>P
  <% else %>
評価なし
  <% end %>
  </td>
</table>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @p_player.p_evaluations.any? %>
      <h4>評価数 (<%= @p_player.p_evaluations.count %>)</h4>
      <ol class="p_evaluations">
        <%= render @p_evaluations %>
      </ol>
      <%= will_paginate @p_evaluations %>
    <% end %>
  </div>
</div>