<footer class="footer">
  <small>
    現職 <a href="https://goo.gl/kIXGhA">日本プロ野球コミッショナー</a>
     <a href="https://goo.gl/0AmoJx">熊崎勝彦</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://npb.jp/">日本野球機構</a></li>
      <li><a href="https://baseball.yahoo.co.jp/npb/">野球速報</a></li>
      <li><a href="https://baseball-mag.net/">baseball mag</a></li>
      <li><a href="http://yakyulive.web.fc2.com/">ネットで野球観戦</a></li>
    </ul>
  </nav>
</footer>