<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "選手一覧＆評価表", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   root_path %></li>
        <li><%= link_to "投手一覧表",   p_players_path %></li>
        <li><%= link_to "野手一覧表",   b_players_path %></li>
        <li><%= link_to "投手評価",   new_p_evaluation_path %></li>
        <li><%= link_to "野手評価",   new_b_evaluation_path %></li>
        <li><%= link_to "投手の追加", new_p_player_path %></li>
        <li><%= link_to "野手の追加", new_b_player_path %></li>
      </ul>
    </nav>
  </div>
</header>